body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    background-color: bisque;
}
#breeds {
    margin-bottom: 20px;
}
#dog-image {
    width: 400px;
    height: 400px;
}

#dog-container{
    background-color: white;
    height: 400px;
    width: 400px;
    padding: 10px;
    border-color: black;
    border-radius: 5px;
    border-top: 5px;
    border-style: solid;

}

button{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin: 8px;
    padding: 5px;
    background-color: rgb(244, 145, 75);
    color: white;
}

button:hover{
    background-color: rgb(235, 186, 152);
    transition-duration: 0.3s;
}
img{
    width: 300px;
    height: 300px;
    border-color: black;
}