body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(31, 17, 42);
}

.container {
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: #514762;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #6c5f83;
    border-radius: 4px;
    text-align: center;
    background-color: #6c5f83;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 


}

button {
    background-color: #4e0075;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

}

button:hover {
    background-color: #7c00ba;
    transition-duration: 0.3s;
}

#resultado {
    display: none;
    margin-top: 20px;
}

h2 {
    color: #cd8dd8;
    margin-bottom: 12px;
}

p {
    margin-bottom: 8px;
    color: #ffffff;
}



