*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Selector de etiquetas*/

body{
    background-image: url(/img/fondofeoMORADO.png);
    background-repeat: no-repeat;
    background-position: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

#contenido{
    background-color: black;
    color: white;
    margin: 1em;
    border-style: groove;
    width: 60%;
    height: 35%;
}

#contenedor{
    background-color: rgb(65, 21, 104);
    color: white;
    margin: 1em;
    border-style: groove;
    width: 650px;
    height: 250px;
    border-radius: 6px;
}

.texto{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
    color:gold
}

a:hover{
    color: rgb(134, 0, 230);
}

.img{
    width: 160px;
    height: 130px;
    border-radius: 8px;
    justify-items: center;
    padding: 3px;
    margin-top: 30px;
    
}
 